In [1]:
import pandas as pd

In [2]:
tracks_df = pd.DataFrame(
    {
        # two eddies, each observation is a separate row
        "eddy_id": [
            0,
            0,
            0,
            1,
            1,
        ],
        # corresponding time stamps
        "time": pd.to_datetime(
            [
                "2001-01-01T12:00:00",
                "2001-01-02T12:00:00",
                "2001-01-03T12:00:00",
                "2001-01-01T12:00:00",
                "2001-01-02T12:00:00",
            ]
        ),
        # centre positions
        "lon": [
            54.1,
            54.5,
            55.1,
            -15.1,
            -16.2,
        ],
        "lat": [
            10.3,
            10.4,
            10.4,
            -35.1,
            -34.1,
        ],
        # masks (Index values don't really make sense. I've
        # made them up. But the structure is what's important here.)
        "eddy_i": [
            [15, 16, 12, 13],
            [15, 16],
            [15, 16, 12],
            [99, 98, 97, 97, 98, 99],
            [99, 98, 97, 97, 101],
        ],
        "eddy_j": [
            [36, 37, 33, 38],
            [41, 32],
            [21, 31, 41],
            [3, 4, 5, 6, 2, 2],
            [3, 4, 1, 2, 3],
        ],
    },
)
tracks_df

,eddy_id,time,lon,lat,eddy_i,eddy_j
0,0,2001-01-01 12:00:00,54.1,10.3,"[15, 16, 12, 13]","[36, 37, 33, 38]"
1,0,2001-01-02 12:00:00,54.5,10.4,"[15, 16]","[41, 32]"
2,0,2001-01-03 12:00:00,55.1,10.4,"[15, 16, 12]","[21, 31, 41]"
3,1,2001-01-01 12:00:00,-15.1,-35.1,"[99, 98, 97, 97, 98, 99]","[3, 4, 5, 6, 2, 2]"
4,1,2001-01-02 12:00:00,-16.2,-34.1,"[99, 98, 97, 97, 101]","[3, 4, 1, 2, 3]"

Masks are lists and timestamps are timestamps:

In [3]:
type(tracks_df["eddy_j"][0])

list

In [4]:
type(tracks_df["time"][0])

pandas._libs.tslibs.timestamps.Timestamp

Write to JSON

In [5]:
tracks_df.to_json(
    "tracks.json",
    date_format="iso",  # ensure timestamps are human-readable strings
    orient="records", lines=True,  # ensure each obs is a separate record / row
)

In [6]:
# display whole file contents (Don't to this with the real data !)
!cat tracks.json

{"eddy_id":0,"time":"2001-01-01T12:00:00.000","lon":54.1,"lat":10.3,"eddy_i":[15,16,12,13],"eddy_j":[36,37,33,38]}
{"eddy_id":0,"time":"2001-01-02T12:00:00.000","lon":54.5,"lat":10.4,"eddy_i":[15,16],"eddy_j":[41,32]}
{"eddy_id":0,"time":"2001-01-03T12:00:00.000","lon":55.1,"lat":10.4,"eddy_i":[15,16,12],"eddy_j":[21,31,41]}
{"eddy_id":1,"time":"2001-01-01T12:00:00.000","lon":-15.1,"lat":-35.1,"eddy_i":[99,98,97,97,98,99],"eddy_j":[3,4,5,6,2,2]}
{"eddy_id":1,"time":"2001-01-02T12:00:00.000","lon":-16.2,"lat":-34.1,"eddy_i":[99,98,97,97,101],"eddy_j":[3,4,1,2,3]}

Read JSON

In [7]:
tracks_df_reread = pd.read_json(
    "tracks.json",
    convert_dates=["time", ],  # tell reader which column contains time stamps
    orient="records", lines=True,  # tell reader each record is a line
)
tracks_df_reread

,eddy_id,time,lon,lat,eddy_i,eddy_j
0,0,2001-01-01 12:00:00,54.1,10.3,"[15, 16, 12, 13]","[36, 37, 33, 38]"
1,0,2001-01-02 12:00:00,54.5,10.4,"[15, 16]","[41, 32]"
2,0,2001-01-03 12:00:00,55.1,10.4,"[15, 16, 12]","[21, 31, 41]"
3,1,2001-01-01 12:00:00,-15.1,-35.1,"[99, 98, 97, 97, 98, 99]","[3, 4, 5, 6, 2, 2]"
4,1,2001-01-02 12:00:00,-16.2,-34.1,"[99, 98, 97, 97, 101]","[3, 4, 1, 2, 3]"

Check if the types of the masks and time stamps are correct:

In [8]:
type(tracks_df_reread["eddy_j"][0])

list

In [9]:
type(tracks_df_reread["time"][0])

pandas._libs.tslibs.timestamps.Timestamp